@model wskh.Model.OrganizationLevelModel
@{
    Layout = null;
}

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.Id)

<div class="form-group w100">
    @Html.LabelFor(x => x.Title, new { @class = "pull-right" })<label class="required">*</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", MaxLength = "75" })
    @Html.ValidationMessageFor(x => x.Title, null, new { @class = "validation" })
</div>


<button type="submit" onclick="AddLoading()" class="btn btn-success btn-sm pull-left">ثبت / ویرایش</button>
