@{
    var _requestService = DependencyResolver.Current.GetService<wskh.Service.IRequestService>();
    var list = _requestService.GetList;

    if (list != null && list.Count() > 0)
    {
        list = list.Where(x => x.State == wskh.Core.Enumerator.RequestState.Pending).ToList();
    }
}



<div class="col-12">

    <div class="card card-topline-aqua">
        <div class="card-head">
            <header>  درخواست های در انتظار تایید </header>
        </div>
        <div class="card-body ">
            <div class="col-xs-12 col-lg-6 pull-right">
                <div class="table table-striped table-hover">
                    <div class="table-scrollable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:10%">
                                        ردیف
                                    </th>
                                    <th style="width:70%">
                                        عنوان
                                    </th>
                                    <th style="width:20%">
                                        تعداد
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>مرخصی ساعتی</td>
                                    <td>
                                        @try
                                        {
                                            @(list.Where(x => x.Type == wskh.Core.Enumerator.RequestType.HourlyRest).ToList().Count())
                                        }
                                        catch (Exception)
                                        {
                                            @Html.Raw("0")
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>مرخصی روزانه</td>
                                    <td>
                                        @try
                                        {
                                            @(list.Where(x => x.Type == wskh.Core.Enumerator.RequestType.DailyRest).ToList().Count())
                                        }
                                        catch (Exception)
                                        {

                                            @Html.Raw("0")
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-lg-6 pull-right">
                <div class="table table-striped table-hover">
                    <div class="table-scrollable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:10%">
                                        ردیف
                                    </th>
                                    <th style="width:70%">
                                        عنوان
                                    </th>
                                    <th style="width:20%">
                                        تعداد
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ماموریت ساعتی</td>
                                    <td>
                                        @try
                                        {
                                            @(list.Where(x => x.Type == wskh.Core.Enumerator.RequestType.MissionHourly).ToList().Count())
                                        }
                                        catch (Exception)
                                        {
                                            @Html.Raw("0")
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>ماموریت روزانه</td>
                                    <td>
                                        @try
                                        {
                                            @(list.Where(x => x.Type == wskh.Core.Enumerator.RequestType.MissionDaily).ToList().Count())
                                        }
                                        catch (Exception)
                                        {
                                            @Html.Raw("0")
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
