@model wskh.Model.UserModel
@{
    Layout = null;
}

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.UserRoleType)


    <div class="row">

        <div class="form-group pull-right col-md-6">
            @Html.LabelFor(x => x.UserGroupId, new { @class = "pull-right" })<label class="required">*</label>
            @Html.DropDownListFor(x => x.UserGroupId, Model.UserGroupList, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.UserGroupId, null, new { @class = "validation" })
        </div>
        <div class="form-group pull-right col-md-6">
            @Html.LabelFor(x => x.EducationLevelId, new { @class = "pull-right" })
            @Html.DropDownListFor(x => x.EducationLevelId, Model.EducationLevelList, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.EducationLevelId, null, new { @class = "validation" })
        </div>
        <div class="form-group pull-right col-md-6">
            @Html.LabelFor(x => x.EmployeTypeId, new { @class = "pull-right" })
            @Html.DropDownListFor(x => x.EmployeTypeId, Model.EmployeTypeList, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.EmployeTypeId, null, new { @class = "validation" })
        </div>
        <div class="form-group pull-right col-md-6">
            @Html.LabelFor(x => x.BranchId, new { @class = "pull-right" })
            @Html.DropDownListFor(x => x.BranchId, Model.BranchList, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.BranchId, null, new { @class = "validation" })
        </div>
        <div class="form-group pull-right col-md-6">
            @Html.LabelFor(x => x.OrganizationLevelId, new { @class = "pull-right" })
            @Html.DropDownListFor(x => x.OrganizationLevelId, Model.OrganizationLevelList, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.OrganizationLevelId, null, new { @class = "validation" })
        </div>




        <div class="form-group pull-right col-md-6">
            @Html.LabelFor(x => x.SexId, new { @class = "pull-right" })<label class="required">*</label>
            @Html.DropDownListFor(x => x.SexId, Model.SexList, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SexId, null, new { @class = "validation" })
        </div>
        <div class="form-group pull-right col-md-6">
            @Html.LabelFor(x => x.FirstName, new { @class = "pull-right" })<label class="required">*</label>
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", MaxLength = "50" })
            @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "validation" })
        </div>
        <div class="form-group pull-right col-md-6">
            @Html.LabelFor(x => x.Lastname, new { @class = "pull-right" })<label class="required">*</label>
            @Html.TextBoxFor(x => x.Lastname, new { @class = "form-control", MaxLength = "75" })
            @Html.ValidationMessageFor(x => x.Lastname, null, new { @class = "validation" })
        </div>
        @if (!string.IsNullOrEmpty(Model.Id))
        {
            <div class="form-group pull-right col-md-6">
                @Html.LabelFor(x => x.UserName, new { @class = "pull-right" })<label class="required">*</label>
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", MaxLength = "11", @disabled = "disabled" })
                @Html.HiddenFor(x => x.UserName)
            </div>
        }
        else
        {
            <div class="form-group pull-right col-md-6">
                @Html.LabelFor(x => x.UserName, new { @class = "pull-right" })<label class="required">*</label>
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control numeric", MaxLength = "11", @onblur = "numberExist()" })
                @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "validation" })
            </div>
        }

        <div class="form-group pull-right col-md-6">
            @Html.LabelFor(x => x.NationalCode, new { @class = "pull-right" })<label class="required">*</label>
            @Html.TextBoxFor(x => x.NationalCode, new { @class = "form-control numeric", MaxLength = "10" })
            @Html.ValidationMessageFor(x => x.NationalCode, null, new { @class = "validation" })
        </div>

        @if (string.IsNullOrEmpty(Model.Id))
        {
            <div class="form-group pull-right col-md-6">
                @Html.LabelFor(x => x.Password, new { @class = "pull-right" })<label class="required">*</label>
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control numeric", MaxLength = "10" })
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "validation" })
            </div>
        }
        else
        {
            @Html.HiddenFor(x => x.Password)
        }
    </div>

<br />

<div class="alert alert-danger col-12" id="mobileExistAlarm" style="display:none;">
    شماره همراه موجود میباشد.
</div>

<br />

<div class="row">
    <button type="submit" onclick="AddLoading()" id="submit" class="btn btn-success btn-sm pull-left">ثبت / ویرایش</button>
</div>



<script>
    function numberExist() {
        var $val = $("#UserName").val();
        $.ajax({
            url: "/TimeAttendance/User/NumberExist?mobileNumber=" + $val,
            type: 'Get',
            dataType: "json",
            success: function (data) {
                if (data) {
                    $("#mobileExistAlarm").fadeIn();
                    $("#submit").attr("disabled", "disabled");
                }
                else {
                    $("#mobileExistAlarm").fadeOut();
                    $("#submit").removeAttr("disabled");
                }
            }
        });
    }
</script>